doctype transitional
head
  meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
  title A Simple Responsive HTML Email
  style(type='text/css').
    body {
    margin: 0;
    padding: 0;
    min-width: 100% !important;
    }
    img {
    height: auto;
    }
    .content {
    width: 100%;
    max-width: 600px;
    }
    .header {
    padding: 40px 30px 20px 30px;
    }
    .innerpadding {
    padding: 30px 30px 30px 30px;
    }
    .borderbottom {
    border-bottom: 1px solid #f2eeed;
    }
    .subhead {
    font-size: 15px;
    color: #ffffff;
    font-family: sans-serif;
    letter-spacing: 10px;
    }
    .h1,
    .h2,
    .bodycopy {
    color: #153643;
    font-family: sans-serif;
    }
    .h1 {
    font-size: 33px;
    line-height: 38px;
    font-weight: bold;
    }
    .h2 {
    padding: 0 0 15px 0;
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
    }
    .bodycopy {
    font-size: 16px;
    line-height: 22px;
    }
    .button {
    text-align: center;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: bold;
    padding: 0 30px 0 30px;
    }
    .button a {
    color: #ffffff;
    text-decoration: none;
    }
    .footer {
    padding: 20px 30px 15px 30px;
    }
    .footercopy {
    font-family: sans-serif;
    font-size: 14px;
    color: #ffffff;
    }
    .footercopy a {
    color: #ffffff;
    text-decoration: underline;
    }
    @media only screen and (max-width: 550px),
    screen and (max-device-width: 550px) {
    body[yahoo] .hide {
    display: none !important;
    }
    body[yahoo] .buttonwrapper {
    background-color: transparent !important;
    }
    body[yahoo] .button {
    padding: 0px !important;
    }
    body[yahoo] .button a {
    background-color: #e05443;
    padding: 15px 15px 13px !important;
    }
    body[yahoo] .unsubscribe {
    display: block;
    margin-top: 20px;
    padding: 10px 50px;
    background: #2f3942;
    border-radius: 5px;
    text-decoration: none !important;
    font-weight: bold;
    }
    }
    /*@media only screen and (min-device-width: 601px) {
    .content {width: 600px !important;}
    .col425 {width: 425px!important;}
    .col380 {width: 380px!important;}
    }*/
table(width='100%' bgcolor='#f6f8f1' border='0' cellpadding='0' cellspacing='0')
  tr
    td
      //if (gte mso 9)|(IE)
        table(width='600' align='center' cellpadding='0' cellspacing='0' border='0')
          tr
            td
      table.content(bgcolor='#ffffff' align='center' cellpadding='0' cellspacing='0' border='0')
        tr
          td.header(bgcolor='#c7d8a7')
            table(width='70' align='left' border='0' cellpadding='0' cellspacing='0')
              tr
                td(height='70' style='padding: 0 20px 20px 0;')
                  img.fix(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/icon.gif' width='70' height='70' border='0' alt='')
            //if (gte mso 9)|(IE)
              table(width='425' align='left' cellpadding='0' cellspacing='0' border='0')
                tr
                  td
            table.col425(align='left' border='0' cellpadding='0' cellspacing='0' style='width: 100%; max-width: 425px;')
              tr
                td(height='70')
                  table(width='100%' border='0' cellspacing='0' cellpadding='0')
                    tr
                      td.subhead(style='padding: 0 0 0 3px;')
                        | CREATING
                    tr
                      td.h1(style='padding: 5px 0 0 0;')
                        | &#xC758;&#xC790;&#xC18C;&#xD1B5; &#xACF5;&#xC2DD; &#xC774;&#xBA54;&#xC77C;
            //if (gte mso 9)|(IE)
        tr
          td.innerpadding.borderbottom
            table(width='100%' border='0' cellspacing='0' cellpadding='0')
              tr
                td.h2
                  | &#xBE44;&#xBC00;&#xBC88;&#xD638;&#xB97C; &#xC78A;&#xC5B4;&#xBC84;&#xB838;&#xB098;&#xC694;?
              tr
                td.bodycopy
                  | &#xAC71;&#xC815;&#xB9C8;&#xC138;&#xC694;! &#xC758;&#xC790;&#xC18C;&#xD1B5;&#xC5D0;&#xC11C; &#xC784;&#xC2DC; &#xBE44;&#xBC00;&#xBC88;&#xD638;&#xB97C; &#xBC1C;&#xAE09;&#xD574;&#xB4DC;&#xB9BD;&#xB2C8;&#xB2E4;.
                  | &#xC544;&#xB798; &#xC784;&#xC2DC; &#xBE44;&#xBC00;&#xBC88;&#xD638;&#xB85C; &#xBCC0;&#xACBD;&#xD558;&#xB824;&#xBA74; &#xBCC0;&#xACBD; &#xBC84;&#xD2BC;&#xC744; &#xD074;&#xB9AD;&#xD574;&#xC8FC;&#xC138;&#xC694;.
                  | &#xB9CC;&#xC57D; &#xBC84;&#xD2BC;&#xC744; &#xD074;&#xB9AD;&#xD558;&#xC9C0; &#xC54A;&#xC73C;&#xBA74; &#xBE44;&#xBC00;&#xBC88;&#xD638;&#xB294; &#xBCC0;&#xACBD;&#xB418;&#xC9C0; &#xC54A;&#xC2B5;&#xB2C8;&#xB2E4;.
        tr
          td.innerpadding.borderbottom
            table(width='115' align='left' border='0' cellpadding='0' cellspacing='0')
              tr
                td(height='115' style='padding: 0 20px 20px 0;')
                  img.fix(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/article1.png' width='115' height='115' border='0' alt='')
            //if (gte mso 9)|(IE)
              table(width='380' align='left' cellpadding='0' cellspacing='0' border='0')
                tr
                  td
            table.col380(align='left' border='0' cellpadding='0' cellspacing='0' style='width: 100%; max-width: 380px;')
              tr
                td
                  table(width='100%' border='0' cellspacing='0' cellpadding='0')
                    tr
                      td.bodycopy
                        p &#xC784;&#xC2DC;&#xBE44;&#xBC00;&#xBC88;&#xD638;
                    tr
                      td(style='padding: 20px 0 0 0;')
                        table.buttonwrapper(bgcolor='#e05443' border='0' cellspacing='0' cellpadding='0')
                          tr
                            td.button(height='45')
                              form(action='http://http://13.124.213.28:9000/temporary/password' method='POST')
                                input(type='hidden' name='email' value='수정')
                                input(type='hidden' name='tmpPassword' value='수정')
                                input(style='background-color: #e05443;' type='submit' href='http://http://13.124.213.28:9000/temporary/password' value='변경하기')
            //if (gte mso 9)|(IE)
      //if (gte mso 9)|(IE)
