html(xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    title A Simple Responsive HTML Email
    style(type='text/css').
      body {
      margin: 0;
      padding: 0;
      min-width: 100% !important;
      }
      img {
      height: auto;
      }
      .content {
      width: 100%;
      max-width: 600px;
      }
      .header {
      padding: 40px 30px 20px 30px;
      }
      .innerpadding {
      padding: 30px 30px 30px 30px;
      }
      .borderbottom {
      border-bottom: 1px solid #f2eeed;
      }
      .subhead {
      font-size: 15px;
      color: #ffffff;
      font-family: sans-serif;
      letter-spacing: 10px;
      }
      .h1,
      .h2,
      .bodycopy {
      color: #153643;
      font-family: sans-serif;
      }
      .h1 {
      font-size: 33px;
      line-height: 38px;
      font-weight: bold;
      }
      .h2 {
      padding: 0 0 15px 0;
      font-size: 24px;
      line-height: 28px;
      font-weight: bold;
      }
      .bodycopy {
      font-size: 16px;
      line-height: 22px;
      }
      .button {
      text-align: center;
      font-size: 18px;
      font-family: sans-serif;
      font-weight: bold;
      padding: 0 30px 0 30px;
      }
      .button a {
      color: #ffffff;
      text-decoration: none;
      }
      .footer {
      padding: 20px 30px 15px 30px;
      }
      .footercopy {
      font-family: sans-serif;
      font-size: 14px;
      color: #ffffff;
      }
      .footercopy a {
      color: #ffffff;
      text-decoration: underline;
      }
      @media only screen and (max-width: 550px),
      screen and (max-device-width: 550px) {
      body[yahoo] .hide {
      display: none !important;
      }
      body[yahoo] .buttonwrapper {
      background-color: transparent !important;
      }
      body[yahoo] .button {
      padding: 0px !important;
      }
      body[yahoo] .button a {
      background-color: #e05443;
      padding: 15px 15px 13px !important;
      }
      body[yahoo] .unsubscribe {
      display: block;
      margin-top: 20px;
      padding: 10px 50px;
      background: #2f3942;
      border-radius: 5px;
      text-decoration: none !important;
      font-weight: bold;
      }
      }
      /*@media only screen and (min-device-width: 601px) {
      .content {width: 600px !important;}
      .col425 {width: 425px!important;}
      .col380 {width: 380px!important;}
      }*/
  body(yahoo='', bgcolor='#f6f8f1')
    table(width='100%', bgcolor='#f6f8f1', border='0', cellpadding='0', cellspacing='0')
      tbody
        tr
          td
            //if (gte mso 9)|(IE)
              table(width='600', align='center', cellpadding='0', cellspacing='0', border='0')
                tbody
                  tr
                    td
            table.content(bgcolor='#ffffff', align='center', cellpadding='0', cellspacing='0', border='0')
              tbody
                tr
                  td.header(bgcolor='#c7d8a7')
                    table(width='70', align='left', border='0', cellpadding='0', cellspacing='0')
                      tbody
                        tr
                          td(height='70', style='padding: 0 20px 20px 0;')
                            img.fix(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/icon.gif', width='70', height='70', border='0', alt='')
                    //if (gte mso 9)|(IE)
                      table(width='425', align='left', cellpadding='0', cellspacing='0', border='0')
                        tbody
                          tr
                            td
                    table.col425(align='left', border='0', cellpadding='0', cellspacing='0', style='width: 100%; max-width: 425px;')
                      tbody
                        tr
                          td(height='70')
                            table(width='100%', border='0', cellspacing='0', cellpadding='0')
                              tbody
                                tr
                                  td.subhead(style='padding: 0 0 0 3px;')
                                    | CREATING
                                tr
                                  td.h1(style='padding: 5px 0 0 0;')
                                    | 의자소통 공식 이메일
                    //if (gte mso 9)|(IE)
                tr
                  td.innerpadding.borderbottom
                    table(width='100%', border='0', cellspacing='0', cellpadding='0')
                      tbody
                        tr
                          td.h2
                            | 비밀번호를 잊어버렸나요?
                        tr
                          td.bodycopy
                            | 걱정마세요! 의자소통에서 임시 비밀번호를 발급해드립니다.
                            | 아래 임시 비밀번호로 변경하려면 변경 버튼을 클릭해주세요.
                            | 만약 버튼을 클릭하지 않으면 비밀번호는 변경되지 않습니다.
                tr
                  td.innerpadding.borderbottom
                    table(width='115', align='left', border='0', cellpadding='0', cellspacing='0')
                      tbody
                        tr
                          td(height='115', style='padding: 0 20px 20px 0;')
                            img.fix(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/article1.png', width='115', height='115', border='0', alt='')
                    //if (gte mso 9)|(IE)
                      table(width='380', align='left', cellpadding='0', cellspacing='0', border='0')
                        tbody
                          tr
                            td
                    table.col380(align='left', border='0', cellpadding='0', cellspacing='0', style='width: 100%; max-width: 380px;')
                      tbody
                        tr
                          td
                            table(width='100%', border='0', cellspacing='0', cellpadding='0')
                              tbody
                                tr
                                  td.bodycopy
                                    p 임시비밀번호
                                tr
                                  td(style='padding: 20px 0 0 0;')
                                    table.buttonwrapper(bgcolor='#e05443', border='0', cellspacing='0', cellpadding='0')
                                      tbody
                                        tr
                                          td.button(height='45')
                                            form(action='http://http://13.124.213.28:9000/temporary/password', method='POST')
                                              input(type='hidden', name='email', value='수정')
                                              input(type='hidden', name='tmpPassword', value='수정')
                                              input(style='background-color: #e05443;', type='submit', href='http://http://13.124.213.28:9000/temporary/password', value='변경하기')
                    //if (gte mso 9)|(IE)
                    //if (gte mso 9)|(IE)
